<ul class="nav flex-column bg-light-blue">
    <li class="nav-item">
        <a class="nav-link"  href="{{ path('app_account') }}">Mes commandes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account_addresses') }}">Mes adresse de livraison</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="{{ path('app_modifier_pwd') }}">Modifier votre mot de passe</a>

    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
    </li>
</ul>