{% extends 'base.html.twig' %}

{% block body %}
    <h1>Espace personnel</h1>

    <div class="example-wrapper">
        <div class="row">
            <div class="col-md-3">
                {% include 'account/menu.html.twig' %}
            </div>
            <div class="col-md-9">
                <h5>Modifier mon mot de passe</h5>
                {{ form(modifierPwdForm) }}
            </div>
        </div>

    </div>
{% endblock %}